<h1>Oregano</h1>

<aside>
  <form action=/users/local method=post>
    <input type=submit value=login />
    <input type=hidden name=<%= request_forgery_protection_token %> value=<%= form_authenticity_token %> />
  </form>
</aside>

<aside>
  <form id=user_categories>
    <input type=submit value=go />
    <input type=hidden name=<%= request_forgery_protection_token %> value=<%= form_authenticity_token %> />
  </form>
  <script>
    var form = $("#user_categories");
    form.submit(function(e) {
      $.post("/relations/user_categories",form.serialize()).done(function(a) {
        console.log(a);
      });
      return false;
    });
  </script>
</aside>
